In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data = pd.read_excel(r"C:\Users\kunal dhingra\Desktop\Sales Regression.xlsx")
data

    Cost for Advertisement  Sales generated per dollar spent
0                     12.0                                15
1                     20.5                                16
2                     21.0                                18
3                     15.5                                27
4                     15.3                                21
5                     23.5                                49
6                     24.5                                21
7                     21.3                                22
8                     23.5                                28
9                     28.0                                36
10                    24.0                                40
11                    15.5                                 3
12                    17.3                                21
13                    25.3                                29
14                    25.0                                62
15                    36.5                                65
16                    36.5                                46
17                    29.6                                44
18                    30.5                                33
19                    28.0                                62
20                    26.0                                22
21                    21.5                                12
22                    19.7                                24
23                    19.0                                 3
24                    16.0                                 5
25                    20.7                                14
26                    26.5                                36
27                    30.6                                40
28                    32.3                                49
29                    29.5                                 7
30                    28.3                                52
31                    31.3                                65
32                    32.3                                17
33                    26.4                                 5
34                    23.4                                17
35                    16.4                                 1

In [ ]:
import sklearn
from sklearn import linear_model

In [ ]:
x= data.drop('Sales generated per dollar spent',axis = 'columns')
x

    Cost for Advertisement
0                     12.0
1                     20.5
2                     21.0
3                     15.5
4                     15.3
5                     23.5
6                     24.5
7                     21.3
8                     23.5
9                     28.0
10                    24.0
11                    15.5
12                    17.3
13                    25.3
14                    25.0
15                    36.5
16                    36.5
17                    29.6
18                    30.5
19                    28.0
20                    26.0
21                    21.5
22                    19.7
23                    19.0
24                    16.0
25                    20.7
26                    26.5
27                    30.6
28                    32.3
29                    29.5
30                    28.3
31                    31.3
32                    32.3
33                    26.4
34                    23.4
35                    16.4

In [ ]:
y= data.drop('Cost for Advertisement', axis = 'columns')
y

    Sales generated per dollar spent
0                                 15
1                                 16
2                                 18
3                                 27
4                                 21
5                                 49
6                                 21
7                                 22
8                                 28
9                                 36
10                                40
11                                 3
12                                21
13                                29
14                                62
15                                65
16                                46
17                                44
18                                33
19                                62
20                                22
21                                12
22                                24
23                                 3
24                                 5
25                                14
26                                36
27                                40
28                                49
29                                 7
30                                52
31                                65
32                                17
33                                 5
34                                17
35                                 1

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(x,y)

LinearRegression()

In [ ]:
reg.intercept_

array([-17.92083799])

In [ ]:
reg.coef_

array([[1.91496813]])

In [ ]:
a=((reg.score(x,y))*100)
b = round(a,2)
print(f'The efficiency of the model is {b}%')

The efficiency of the model is 39.79%